.busca{
    margin: 20px;
    height: 20px;
    border: 1px solid black;
    text-decoration:none;

    color: black;
}
.busca:hover{
    cursor: poiter;
    color: black;
    background: rgb(184, 183, 183);
}